<!DOCTYPE html>
<html>
<head>
    <title>Technician List</title>
</head>
<body>
    <h1>Technician List</h1>
    <ul>
        {% for technician in technicians %}
            <li>
                <a href="{% url 'technician_detail' pk=technician.pk %}">{{ technician.name }}</a>
            </li>
        {% empty %}
            <li>No technicians available</li>
        {% endfor %}
    </ul>
    <td>
        <form action="{% url 'technician_add' %}" method="post">
            {% csrf_token %}
            <button type="submit"> Add</button>
        </form>
    </td>
</body>
</html>
