<!DOCTYPE html>
<html>
<head>
    <title>Brigade List</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "style.css" %}"/>
</head>
<body>
    {% include "components/header.html" %}
    <h1>Brigade List</h1>
    <ul>
        {% for brigade in brigades %}
            <li>
                <a href="{% url 'brigade_detail' pk=brigade.pk %}">{{ brigade.id }}</a>
            </li>
        {% empty %}
            <li>No brigades available</li>
        {% endfor %}
    </ul>
    <td>
        <form class="form" action="{% url 'brigade_add' %}" method="post">
            {% csrf_token %}
            <button type="submit"> Add</button>
        </form>
    </td>
</body>
</html>
