<!DOCTYPE html>
<html>
<head>
    <title>District Detail</title>
</head>
<body>
    <h1>District Detail</h1>
    <a href="{% url 'district_edit' district.id %}" class="button">Edit</a>
    <form action="{% url 'district_delete' district.pk %}" method="get" style="display:inline;">
        {% csrf_token %}
        <button type="submit" class="button delete">Delete</button>
    </form>
    <p>Number: {{ district.id }}</p>
    <p>Master: {{ district.master }}</p>
    <p>Workshop: <a href="{% url 'workshop_detail' pk=district.workshop.pk %}">{{ district.workshop.id }}</a></p>
    <p>Assigned brigades: 
        <ul>
            {% for brigade in brigades %}
                <li>
                    <a href="{% url 'brigade_detail' pk=brigade.pk %}">{{ brigade.id }}</a>
                </li>
            {% empty %}
                <li>No drivers available</li>
            {% endfor %}
        </ul>
    </p>
</body>
</html>
