<!DOCTYPE html>
<html>
<head>
    <title>Auxiliary Detail</title>
</head>
<body>
    <h1>Auxiliary vehicle Detail</h1>
    <p>Brand: {{ auxiliary.brand }}</p>
    <p>Description: {{ auxiliary.description }}</p>
    <p>Received: {{ auxiliary.created_at }}</p>
    {% if auxiliary.is_decommissioned == 1 %}
        <p>Decommissioned: {{ auxiliary.modified_at }}</p>
    {% endif %}
    <p>Assigned drivers: 
        <ol>
            {% for driver in drivers %}
                <li>
                    <a href="{% url 'driver_detail' pk=driver.pk %}">{{ driver.name }}</a>
                </li>
            {% empty %}
                </ol>
                <ul>
                    <li>No drivers available</li>
                </ul>
                <ol>
            {% endfor %}
        </ol>
    </p>
    <p><a href="{% url 'mileage_query' pk=auxiliary.pk %}"> Get mileage </a></p>
    <p><a href="{% url 'repair_query' pk=auxiliary.pk %}"> Get repairs </a></p>
</body>
</html>
