<!-- waybill_detail.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Waybill Detail</title>
</head>
<body>
    <h1>Waybill Details</h1>
    <p>Waybill ID: {{ waybill.pk }}</p>
    <p>Created At: {{ waybill.created_at }}</p>
    <p>Mileage: {{ waybill.mileage }} km.</p>
    <p>Driver: <a href="{% url 'driver_detail' pk=waybill.driver.pk %}">{{ waybill.driver.name }}</a></p>
    <p>Vehicle: 
        {% if waybill.vehicle.truck %}
            <a href="{% url 'truck_detail' pk=waybill.vehicle.pk %}">{{ waybill.vehicle.brand }}</a>
        {% endif %}

        {% if waybill.vehicle.bus %}
            <a href="{% url 'bus_detail' pk=waybill.vehicle.pk %}">{{ waybill.vehicle.brand }}</a>
        {% endif %}

        {% if waybill.vehicle.taxi %}
            <a href="{% url 'taxi_detail' pk=waybill.vehicle.pk %}">{{ waybill.vehicle.brand }}</a>
        {% endif %}

        {% if waybill.vehicle.auxiliary %}
            <a href="{% url 'auxiliary_detail' pk=waybill.vehicle.pk %}">{{ waybill.vehicle.brand }}</a>
        {% endif %}
    </p>
</body>
</html>
