h1 {
    font-size: 200%;
    text-align: center;
}

p {
    text-align: center;
}

ul {
    list-style: none; /* убираем маркеры, если нужно */
    text-align: center;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: 200px 200px;
    justify-content: center;
}

.form {
    margin-left: 50%;
}