<!DOCTYPE html>
<html>
<head>
    <title>Cargo Waybill List</title>
</head>
<body>
    <h1>Cargo Waybill List</h1>
    <ul>
        {% for cargo_waybill in cargo_waybills %}
            <li>
                <a href="{% url 'cargo_waybill_detail' pk=cargo_waybill.pk %}">{{ cargo_waybill }}</a>
            </li>
        {% empty %}
            <li>No cargo waybills available</li>
        {% endfor %}
    </ul>
    <td>
        <form action="{% url 'waybill_add' %}" method="post">
            {% csrf_token %}
            <button type="submit"> Add</button>
        </form>
    </td>
</body>
</html>
