<!DOCTYPE html>
<html>
<head>
    <title>Driver Detail</title>
</head>
<body>
    <h1>Driver Detail</h1>
    <a href="{% url 'driver_edit' driver.id %}" class="button">Edit</a>
    <form action="{% url 'driver_delete' driver.pk %}" method="get" style="display:inline;">
        {% csrf_token %}
        <button type="submit" class="button delete">Delete</button>
    </form>
    <p>Name: {{ driver.name }}</p>
    <p>Brigade: <a href="{% url 'brigade_detail' pk=driver.brigade.pk %}">{{ driver.brigade.id }}</a></p>
    <p>Attached to the car: 
        {% if driver.vehicle.truck %}
            <a href="{% url 'truck_detail' pk=driver.vehicle.pk %}">{{ driver.vehicle.brand }}</a>
        {% elif driver.vehicle.bus %}
            <a href="{% url 'bus_detail' pk=driver.vehicle.pk %}">{{ driver.vehicle.brand }}</a>
        {% elif driver.vehicle.taxi %}
            <a href="{% url 'taxi_detail' pk=driver.vehicle.pk %}">{{ driver.vehicle.brand }}</a>
        {% elif driver.vehicle.auxiliary %}
            <a href="{% url 'auxiliary_detail' pk=driver.vehicle.pk %}">{{ driver.vehicle.brand }}</a>
        {% else %}
            No cars available
        {% endif %}
    </p>
</body>
</html>
