<!DOCTYPE html>
<html>
<head>
    <title>Driver List</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "style.css" %}"/>
</head>
<body>
    {% include "components/header.html" %}
    <h1>Driver List</h1>
    <ul>
        {% for driver in drivers %}
            <li>
                <a href="{% url 'driver_detail' pk=driver.pk %}">{{ driver.name }}</a>
            </li>
        {% empty %}
            <li>No drivers available</li>
        {% endfor %}
    </ul>
    <td>
        <form class="form" action="{% url 'driver_add' %}" method="post">
            {% csrf_token %}
            <button type="submit"> Add</button>
        </form>
    </td>
</body>
</html>
