<!DOCTYPE html>
<html>
<head>
    <title>Route Detail</title>
</head>
<body>
    <h1>Route Detail</h1>
    <a href="{% url 'route_edit' route.id %}" class="button">Edit</a>
    <form action="{% url 'route_delete' route.pk %}" method="get" style="display:inline;">
        {% csrf_token %}
        <button type="submit" class="button delete">Delete</button>
    </form>
    <p>Number: {{ route.number }}</p>
    <p>Assigned cars: 
        <ul>
            <li>Buses:</li>
            <ol>
                {% for bus in buses %}
                    <li>
                        <a href="{% url 'bus_detail' pk=bus.pk %}">{{ bus.brand }}</a>
                    </li>
                {% empty %}
                    </ol>
                    <ul>
                        <li>No cars available</li>
                    </ul>
                    <ol>
                {% endfor %}
            </ol>
            <li>Minibuses:</li>
            <ol>
                {% for taxi in taxis %}
                    <li>
                        <a href="{% url 'taxi_detail' pk=taxi.pk %}">{{ taxi.brand }}</a>
                    </li>
                {% empty %}
                    </ol>
                    <ul>
                        <li>No cars available</li>
                    </ul>
                    <ol>
                {% endfor %}
            </ol>
        </ul>
    </p>
</body>
</html>
