<!DOCTYPE html>
<html>
<head>
    <title>Route List</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "style.css" %}"/>
</head>
<body>
    {% include "components/header.html" %}
    <h1>Route List</h1>
    <ul>
        {% for route in routes %}
            <li>
                <a href="{% url 'route_detail' pk=route.pk %}">{{ route.number }}</a>
            </li>
        {% empty %}
            <li>No routes available</li>
        {% endfor %}
    </ul>
    <td>
        <form class="form" action="{% url 'route_add' %}" method="post">
            {% csrf_token %}
            <button type="submit"> Add</button>
        </form>
    </td>
</body>
</html>
