<!DOCTYPE html>
<html>
<head>
    <title>Taxi List</title>
</head>
<body>
    <h1>Taxi List</h1>
    <ul>
        {% for taxi in taxis %}
            {% if taxi.is_decommissioned == 0 %}
                <li>
                    <a href="{% url 'taxi_detail' pk=taxi.pk %}">{{ taxi.brand }}</a>
                    <form action="{% url 'taxi_decommission' pk=taxi.pk %}" method="get" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit">Decommission</button>
                    </form>
                </li>
            {% endif %}
        {% empty %}
            <li>No taxis available</li>
        {% endfor %}
    </ul>
    <td>
        <form action="{% url 'taxi_add' %}" method="post">
            {% csrf_token %}
            <button type="submit"> Add</button>
        </form>
    </td>
</body>
</html>
