<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirm Delete</title>
</head>
<body>
    <h1>Are you sure you want to delete mechanic {{ mechanic.name }}?</h1>
    {% for message in messages %}
        <div class="message {{ message.tags }}" style="color: red">
            {{ message }}
        </div>
    {% endfor %}
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="button delete">Confirm</button>
    </form>
    <a href="{% url 'mechanic_list' %}" class="button">Cancel</a>
</body>
</html>
