<!DOCTYPE html>
<html>
<head>
    <title>Mechanic List</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "style.css" %}"/>
</head>
<body>
    {% include "components/header.html" %}
    <h1>Mechanic List</h1>
    <ul>
        {% for mechanic in mechanics %}
            <li>
                <a href="{% url 'mechanic_detail' pk=mechanic.pk %}">{{ mechanic.name }}</a>
            </li>
        {% empty %}
            <li>No mechanics available</li>
        {% endfor %}
    </ul>
    <td>
        <form class="form" action="{% url 'mechanic_add' %}" method="post">
            {% csrf_token %}
            <button type="submit"> Add</button>
        </form>
    </td>
</body>
</html>
