<!DOCTYPE html>
<html>
<head>
    <title>Workshop List</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "style.css" %}"/>
</head>
<body>
    {% include "components/header.html" %}
    <h1>Workshop List</h1>
    <ul>
        {% for workshop in workshops %}
            <li>
                <a href="{% url 'workshop_detail' pk=workshop.pk %}">{{ workshop.id }}</a>
            </li>
        {% empty %}
            <li>No workshops available</li>
        {% endfor %}
    </ul>
    <td>
        <form class="form" action="{% url 'workshop_add' %}" method="post">
            {% csrf_token %}
            <button type="submit"> Add</button>
        </form>
    </td>
</body>
</html>
